<!DOCTYPE html>
<html>
  <head>
    <title>Organizador :D</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "cerrar sesión", destroy_user_session_path, method: :delete %>  
    <center>
    <h1> Mi Applicacion: organizador </h1>
    </center>
    <%= yield %>
  </body>
</html>
